{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <h5><a href="{% url 'meals:create_menu' %}" class="btn btn-primary">Create new menu</a></h5>
        {% if menu %}
        <div>
            <table class="table table-striped table-sm">
              <thead class="thead-inverse">
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Orders</th>
                    <th>UUID</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for current_menu in menu %}
                    <tr>
                        <td>{{ current_menu.title }}</td>
                        <td>{{ current_menu.date }}</td>
                        <td>{{ current_menu.order_count }} <br> <a href="{% url 'meals:list_order' current_menu.pk %}" title="View Orders">Show Orders</a></td>
                        <td>{{ current_menu.uuid }}</td>
                        <td>
                            <a href="{% url 'meals:update_menu' current_menu.pk %}" title="Edit">Edit</a>
                            <a href="{% url 'meals:list_option' current_menu.pk %}" title="Options">Options</a>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}