{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3>New menu</h3>
        <div>
        <form action="" method="post">{% csrf_token %}
            <label>Title: </label> {{ form.title }} <br>
            <label>Send Notification: </label> {{ form.send }} <br>
            <input type="submit" value="Save" />
            <a href="{% url 'meals:list_menu' %}" class="btn btn-default">Cancel</a>
        </form>
        </div>
    </div>
</div>
{% endblock %}