{% extends "base.html" %}

{% block content %}

<div class="row">
    <div>
        {% if orders %}
            <a href="{% url 'meals:list_menu' %}" class="btn btn-primary">Return to menu list</a></h5>
            <table class="table table-striped table-sm">
              <thead class="thead-inverse">
                <tr>
                    <th>Employee Identifier</th>
                    <th>Email</th>
                    <th>Option</th>
                    <th>Date</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in orders %}
                    <tr>
                        <td>{{ entry.order.employee_identifier }}</td>
                        <td>{{ entry.employee.email }}</td>
                        <td>{{ entry.option.description }}</td>
                        <td>{{ entry.order.created_at }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        {% else %}
            <h4>There are no orders for this menu :(</h4><br>
            <a href="{% url 'meals:list_menu' %}" class="btn btn-primary">Return to menu list</a></h5>
        {% endif %}
    </div>
</div>

{% endblock %}