amqp==2.2.1
billiard==3.5.0.3
celery==4.0.2
certifi==2022.12.7
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==3.6
Django==1.11.3
django-appconf==1.0.2
djangorestframework==3.9.4
docutils==0.13.1
funcsigs==1.0.2
idna==2.5
importlib-metadata==1.6.0
jsonpickle==1.2
kombu==4.0.2
mock==3.0.5
pathlib2==2.3.5
pytz==2017.2
redis==2.10.5
redisbeat==1.2.4
requests==2.18.1
scandir==1.10.0
six==1.10.0
slackclient==1.0.6
urllib3==1.21.1
vine==1.1.4
websocket-client==0.44.0
zipp==1.2.0
