{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CornerShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <form class="form-signin" method="post" novalidate>
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign Up</h2>
        {{ form.as_table }}
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
        {% if form.non_field_errors %}
            <br>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Error!</strong> <br>
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <p class="text-center">
            <br>
            <a href="{% url 'authApp:login' %}">Sign in <i class="fa fa-pull-right"></i> </a>
        </p>
    </form>
</div>
</body>
</html>
