{% extends "base.html" %}

{% block content %}
<div class="row">
    {% if form.errors %}
        <div id="form-error">
            <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
            <ul>
            {% for field in form %}
            <li>{{ field.errors|striptags }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-6">
        ¡Hola! <br>
        Dejo el menú de hoy :)<br><br>
        <div>
            {% for menu_option in options %}
                {{ forloop.counter }}) {{ menu_option.description }} <br>
            {% endfor %}
            <br>
        </div>
        ¡Tengan lindo día!
    </div>
</div>

    <br><br>
    {% if menu.can_choose_menu == True %}
        <div class="row">
            <h3>Choose your meal</h3>
        </div>
        <br><br>
    {% endif %}
    <div class="row">
        {% if menu.can_choose_menu != True %}
            <h5>You are not allowed to choose a menu after 11 AM CLT</h5>
        {% else %}
            <div class="col-lg-6">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save" />
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}